%ul
  %li#home.first{style: "font-size:11px;font-weight:bold"}
    = t('home')
  %li.gallery{style: "font-size:11px;font-weight:bold"} 
    = t('gallery')
  %li#ourprojects{style: "font-size:11px;font-weight:bold"} 
    = t('products')  
  - Page.all.each do |page|    
    %li#contact{style: "font-size:11px;font-weight:bold"} 
      = page.title
