%ul
  %li#home.first{style: "font-size:11px;font-weight:bold"}
    = link_to t('home'), root_path, :title => "رنگین کمان"
  %li.gallery{style: "font-size:11px;font-weight:bold"} 
    = link_to t('products'), Category, :title => "رنگین کمان"
  %li#ourprojects{style: "font-size:11px;font-weight:bold"} 
    = link_to t('gallery'), Gallery, :title => "رنگین کمان"
  
  %li#contact{style: "font-size:11px;font-weight:bold"} 
    = link_to Page.first.ptitle, :title => "رنگین کمان"
