%form
  .form-group
    =label t('send-url.sender'),  :class => "control-label"        
  .form-group
    =label t('send-url.receiver'),  :class => "control-label"    
  .form-group
    =label t('send-url.text'),  :class => "control-label"    
