/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require colorbox-rails   
 *= require_tree .
 */


.clr-float{ clear:both}

.en {direction:ltr; text-align:left; font-family:arial}
.fa {direction:rtl; text-align:right;font-family:'open_sansregular'}
img.bg {z-index:-20; position:fixed; right:0%; left:0%; width:100%; height:80%}
.set-center {margin-right:auto; margin-left:auto}
.float-left {float:left;}

.category-info {
  padding:1%;
  position:relative;
  float: right;
  height:456px;
  color: #e5ec6f;
  background: #27160e;
  opacity: .8;
  filter: alpha(opacity=80);
  width:25%;

  }
.edit-category {float: right;
position:fixed; right:0;
min-height: 100%;
max-height: 100%;
color: #e5ec6f; 
  min-width:20%; max-width:20%;
background:#29170d;
  opacity: .8;  
  filter:alpha(opacity=80); /* For IE8 and earlier */}
.category-details {background: #27160e;
min-height: 400px;
max-height: 400px;
padding-top: 5%;
padding-right:10px;
padding-left:10px;
margin-top: 3%;
opacity: .8;
filter: alpha(opacity=80);
position: absolute;
width: 22%;
margin-right: 4%;
margin-left: 4%;

}
.category-link {
top:15%;
position: absolute;
width: 100%;


}

.product-pics { 
  margin-top:10px;
  margin-right:15px;
  margin-left:10px;
  margin-bottom:20px;   
  float:right;   
  min-width:28%; max-width:28%; text-align:center;
  min-height:240px;
  max-height:240px;
  background:#29170d;
  border: 5px solid #29170d;
  overflow:hidden;  
  position:relative
  
  }
  #sub_categories_boxes {}
  .sub_category_box
  { 
  margin-top:10px;
  margin-right:15px;
  margin-left:10px;
  margin-bottom:20px;   
  float:right;   
  min-width:21%; max-width:21%; 
  text-align:center;
  min-height:240px;
  max-height:240px;
  background:#29170d;
  border: 5px solid #29170d;
  overflow:hidden;  
  position:relative
  
  }
  
.sub-category-product-pics {
  font-family:'MTCORSVA';
  margin:1%;  
  padding:5px;
  
  float:left;
  min-width:100%; 
  max-width:100%;
  text-align:center; 
  background:#29170d;
  opacity: .8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  overflow:hidden;
  position:relative;
  font-size:1.5em;
  font-weight:bold;
}
.sub-category-product-pics:hover {background:#CF5F14; cursor:pointer}
.sub-category-product-pics img{ width:90%; height:90%} 
.sub_category_box { overflow:hidden} 
.sub_category_box .img-box img.sample-sub-category{width:100%; height:100%; position:relative} 
.sub_category_box .title-sub-category{font-size:12px; position:relative} 
.deactive {width:50px; height:50px; opacity:.5; margin-left:-50%}
.sub-category-title { width:50%;  text-shadow:2px 2px #3C0101 ; color:#FFFF00; font-size:3em; 
font-family:'MTCORSVA';
text-align:center;
  position: relative;

}
.product-pics .title-product {font-size:16px}
.product-pics  img.sample {
  min-height:97%; 
  max-height:97%; 
 
  width:100%}
.product-pics  .img-box {
  margin-top:15px;
  min-height:200px;
  max-height:200px;
  overflow:hidden;  
 width:100%}

.download {background:#29170d; opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
  color:#e5ec6f; 
  height:1px;  
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  overflow:hidden;
  }
.product-pics:hover {cursor:pointer}
.product-pics:hover .download {height:100px;margin-top:-100px;}
.download a{color:#e5ec6f}
.download a:hover{color:#DEFF00}



span.Necessary {color:#FF0000; font-weight:bold}
.footer-menu ul li a {color:#cb815a}
.footer-menu ul li a:hover {color:#e6ae90}
.admin-icon {
  width: 100px; 
  background:#1A1A1A; 
  float: left; 
  height:370px; 
  opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
  display: none}
#content:hover .admin-icon{display: block}
.show-pro {
  min-width:90%; min-height:90%; 
  max-width:90%; max-height:90%; 
  text-align:center;    
  margin-top:3%;
  }

.box-3 {     
  font-size:12px;
  position:relative;
  bottom: 0; 
  z-index: 600;  
  color: white; 
  padding: 5px; 
  background-image: url(image-path('sprinkles.png'));
  background-repeat: repeat;
  box-shadow:-3px 0px 5px #333333, 3px 1px 5px #333333;
  min-height:350px; 
  max-height:350px; 
  margin:2%;
  float:right; 
  width:28%; 
  text-align:center
}

.box-4 {     
  font-size:10px;
  bottom: 0; 
  z-index: 600;
  background:#aba906; 
  color: white; 
  padding: 5px;
  opacity: .8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  min-height:70px; 
  margin:30px;
  float:right; 
  width:20%; 
}

.box-4 img {width:100%}

.box-3 img.sample-img {width:100%;}
.box-3:hover p.cat-title-on-box-3 {font-size:30px;}
.box-3 p {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height:80px;
  color:#27160e;
}
.box-3 p.cat-title-on-box-3 {
  background-image:url(image-path('we.png'));
  background-repeat: no-repeat;
  left:-7%;
  padding-top:4%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.show-pro .box-menu {  
  background-image: url(image-path('logo-bg.png'));
  background-repeat: no-repeat;  
  background-position: 2% 90%; 
  width:100%;
  height:100px;
  overflow:hidden;      
  padding:0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  position:absolute;
  bottom:0;
  right:0; left:0;
}
.show-pro .box-menu ul {list-style:none; 
  width: 100%;
  position: absolute;
  padding: 0;
}
.show-pro .box-menu a {color:#27160e; }
.show-pro .box-menu a:hover {color:#DEFF00; text-shadow:1px 1px #4C1E08 ;}
/*
.show-pro .box-3:hover .box-menu{  min-height:86px;
  max-height:86px;margin-top:-26%;
  padding-top:2px;
  }
  
.show-pro .box-3:hover img.sample-img{ 
width:120%;
height:120%;

}
*/
.box-menu .arrow-vertical {
  width:5%; 
  background:#27160e; 
  }
.cer-title {text-align:center}

.info-form {width: 100%; min-height:400px; max-height:400px; overflow-y:scroll; padding-top:5px}
.info-form .title-put{width: 100%; height:30px; padding:2px;  text-align:center}
.category-link a:hover{color:#27160e}
.products {width: 100%; text-align:center;}
.products  .pro_wrapper {display: inline-block;
    float: left;
    min-height: 30%;
    max-height: 30%;
    margin-bottom:20px;
    overflow: hidden;    
    z-index:20;
    padding: 0;
    min-width: 25%;
    max-width: 25%;
    text-align:center}
.products  .pro_wrapper:hover{opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */  }
.products  .pro_wrapper a.model-link{width:100%}
.products  .pro_wrapper img.sample {width: 80%; margin-top: 11px;}
.products  .pro_wrapper .pro-info { 
  border:1px solid #632A18;
  text-align:center;  
  min-height:250px;
  max-height:250px;
  overflow:hidden;
  width:90%
  }
.products  .pro_wrapper .pro-info p {
  text-align:center; 
  margin:0px; 
  }

.pro_wrapper .line b {color:#27160e; margin-top:10px; }
.line {width: 22%;
height:50px;
right:0;
text-align: center;
margin-top: -1%;
z-index: 20;
position: fixed;}
.title-cat {font-size:1.5em;}

.slider  .cycle-overlay {
  text-align:center; 
  width: 40%; 
  position: absolute; 
  left: 30%; 
  bottom:65px}
.line img {width:86%; position:absolute; right:12%}
.row .cycle-overlay {margin-bottom:2px}
#category-details {width:75%;
 float:right; position: relative;
 padding:10px;
}
#category-details .details {    
  min-height:402px; 
  max-height:402px;   
  overflow-y:scroll;
  font-size:12px;
  bottom: 0;  
  width:100%;
  display:none;
  color: white; 
  position:relative;
  margin-top:3.8%; 
  padding-right:20px;
  padding-left:20px;
  }
#category-details  .bg-opacity {background:#27160e;opacity: .8;
filter:alpha(opacity=80); /* For IE8 and earlier */}
#category-details .all-models {
  display:block;   
  overflow-y:scroll;
  height:80%;
  padding-top:50px}
.control{z-index:100;  position:fixed;
  width:50px; height:100px; 
  top:40%;
  text-align:left; left:20px}
.next, .prev{
  width:100%; 
  opacity: .8;
  filter:alpha(opacity=80); /* For IE8 and earlier */

}
#category-details  p {text-align:justify}
.control .next:hover, .prev:hover{
cursor:pointer;
opacity:1;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
.slider {width: 100%; height: 100%; z-index:10;}

.slider .hero-unit {width: 100%; max-height: 480px; min-height: 480px; position:relative;}


.hero-unit .image-des-holder {
  margin-top:-20px; 
  background-color:#FFA500; 
  color:#000; 
  position: absolute;}
.content-holder{ max-height: 540px; overflow: hidden;}
.category-image{height:150px; overflow: hidden; position:absolute; width:98%;
  right: 1%;
  left: 1%;
  background:#000000;
  }
.carousel-control img {margin-top: 200px}
table.table  tr {text-align:right;}
table.table  tr th {max-width: 120px; text-align:right}
table.table  tr th.count {width: 50px;}
table.table tr.visited {font-weight:bold}
.footer-admin {
  float:right; 
  direction:rtl; 
  text-align:right;
  position:fixed;
  z-index:25;
  right:0;
  font-family:'open_sansregular'; 
  width:20%; 
  height:100%}
.footer-admin .col-sm-6 {border-right: 2px solid #deff00}
.footer-admin a {color:#e5ec6f;}
.footer-admin a:hover {color:#DEFF00}

.admin-link {  
  padding:1%;
  display:block;
  margin:5px;   
  width:200px; 
  z-index:10;
  overflow:hidden; 
  top:5%;
  position:fixed;
  color:#29170d;   
  background:#DEFF00;
  opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
  text-align:center;
  -webkit-transition:all 1s; /* For Safari 3.1 to 6.0 */
  transition:all 1s;}
.admin-link a {color:#29170d;  }

.admin-link a:hover {color:#A52A2A}
.category-bg { 
  height:100%;  
  }
.product-bg {
  height:100%;  
}
.page-bg {
  height:100%; 
 
}
.background-vintage{
  background-image:url(image-path('pt.jpg'));
  background-repeat:repeat;
  }
.info-holder{   
  width:100%; 
  height:100%;
  position:absolute;  
  }
.cer-bg {width:100%; 
  height:400px;
  color:#fff;  
  opacity:.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}
#content form.new_category {height:400px}
.edi-slider-holder {position:absolute; width:100%; height:100%; margin-top:20px}
.show-slider {width:100%; height:480px}
.index-slider {width:100%; height:80%; overflow-y:scroll; padding-top:2%}
.admin_menu {min-width:10%; height:50px;  -webkit-transition:all 1s; /* For Safari 3.1 to 6.0 */
  transition:all 1s; overflow:hidden; color:#DEFF00; 
  background:#29170d;
  opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */}
.admin_menu a {color:#fff; }
.admin_menu a:hover {color:#E7F804; }
.admin_menu:hover {height:400px; margin-top:-400px; cursor:pointer;}  
.admin_menu h3 {text-align:center}
.go-up {
  z-index:10; width:70%; 
  text-align:center; 
  color:#401805; 
  position:absolute;
  right:20%;
  padding-top:5%;
 
  }
.cat-link { bottom:0; width:100%;
padding:10px;
overflow-y:scroll;
height:290px;


}

.robbin { margin-top:-32px}
.robbin .model-title{ margin-top:-25px; color:#401805}
ul#banner { position: fixed; line-height: 45px; margin: 0 30px; padding: 0;  }
ul#banner li{height:20px;}
ul#banner li:hover a{color:#F6F649}
.link-del {position:fixed}
/*.scroll {margin-right:400px; width:8000px}*/
img.coming-soon {z-index:20;  
position:absolute; left:0;
top:16%
}
b.coming-soon { opacity:.8;  filter:alpha(opacity=80); /* For IE8 and earlier */ position:fixed; z-index:10; text-align:center} 
.box-title {font-size:25px;}
.col-sm-4 fieldset legend span.contact{color:#361B02; text-shadow:2px 2px #FFFF00 ;}
.col-sm-4 form .form-group label.control-label{color:#FFFF00}
.col-sm-4 form .send-coment{background:#401A00;
  opacity:.8;  filter:alpha(opacity=80);/* For IE8 and earlier */
  color:#F6F68F;
  font-size:11;
  text-align:center;
}
.cat-group {width:30%; float:left; height:100%}
.cat-group:hover {cursor:pointer; color:#D79213;}
.cat-group:hover .pro-cat-title, .cat-group.active .pro-cat-title{color:#D79213;}
.products-group {width:95%; 
  height:70%;   
  padding-top:45px;
  margin-top:.8%;
  z-index:-20;
  position:fixed;
  right: 2.4%;
  left: 2.4%;
  
  overflow-y:scroll
}
.pro-cat-title {
margin-top: -22%;
z-index: 10;
width: 75%;
text-align: center;
font-size:20px;
color: #401805;
margin-right:20%;
margin-left:14%;
font-weight: bold;

}
.product-title {background:#401805;
  width:75%;
  overflow:hidden;
  min-height:40px;
  max-height:40px;
  opacity: .8;
  filter:alpha(opacity=80); /* For IE8 and earlier */}
a.show-product {
  min-height:80%;
  max-height:80%;
  overflow:hidden;
  
  
}

img.gallery-pic {
min-height:90%;
  max-height:90%;
  min-width:90%;
  max-width:90%;
  margin-top:3%;
}


.catalog {padding:40px}
.category-new {min-width:20%; max-width:20%; background:#401805; opacity: .8;
  filter:alpha(opacity=80); /* For IE8 and earlier */}
  

.model-pro {
  position:relative;
  min-width:23%;
  max-width:23%;
  min-height:200px;
  max-height:200px;
  overflow:hidden; float:right;
  margin:5px;
  border: 5px solid #29170d;
  text-align:center;
  background:#29170d;
  
 }
.model-folder-pro {
  position:relative;
  min-width:22%;
  max-width:22%;
  min-height:270px;
  max-height:270px;
  overflow:hidden; float:right;
  margin:5px;
  border: 5px solid #29170d;
  text-align:center;
  background:#29170d;  
 } 
 
.model-pro .pic-title, .model-folder-pro .pic-title {color:#FBFB60; height:38px; overflow:hidden}
.model-pro .go-download, .model-folder-pro .go-download{
  position:absolute;
  width:22%;
  background:#29170d;
  opacity: .8;  
  filter:alpha(opacity=80); /* For IE8 and earlier */
}
.model-pro img.sample{width:100%; height:200px}
.model-folder-pro img.sample{width:100%; height:255px}
.product_show_pics {width:70%; float: left;
overflow-y:scroll;
height:82%;
position: absolute;
margin-left: 5%;
margin-right: 26%;
margin-top:4%
}
.folder-product_show_pics {width:95%; overflow-y:scroll;
height:82%;
position: absolute;
margin-left: 1%;
margin-right: 1%;
margin-top:4%}
.folder-product_show_pics h4.folder-pro {
  text-align:center; 
  font-size:2em;
  width:50%;
  color:#27160e;}
.folder-product_show_pics h4.folder-pro.en {
  font-family:'MTCORSVA';}
.folder-product_show_pics h4.folder-pro a {color:#27160e;
  text-shadow:2px 2px 5px #E6E6FA;}
.folder-product_show_pics h4.folder-pro a.en {
  font-family:'MTCORSVA';}
.folder-product_show_pics h4.folder-pro a:hover {color:#F6F64B;} 
.folder-product_show_pics h4.folder-pro span {color:#1A1A1A;  text-shadow:2px 2px 5px #E6E6FA;} 
.catalog {overflow-y:scroll; height:350px;}
.show-picture {padding:5%}
.text-shadow {text-shadow:2px 2px 5px #4D2907 ;}
.pro-cer {height:90%}

.sub-cat-link {display:none; 
  width:30%;
  overflow:hidden;
  height:30%;
  text-align:left;
}
.cover {
  width:100%;
  height:0; 
  padding-top:10%;
  padding-bottom:30%;
  background:#1A1A1A;
  opacity: .6;  
  filter:alpha(opacity=60); /* For IE8 and earlier */  
  text-align:center;  
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.product-pics:hover .cover { height:28%; margin-top:-65%;}
.product-pics.sub_category_box:hover .cover.pointer-sub-category { height:22%;margin-top:-105%; position:relative }
.product-pics:hover .cover img{ height:30%; }
.cover img {

height:0;
 -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;}
  
.product_show_pics .product-details .model-pro:hover .cover {
 margin-top:-55%;
 height:100%; 
 
}
.product-details {margin-top:5%}
.product_show_pics .product-details .model-pro:hover .cover img{height:20%}


.pro_wrapper .pro-info:hover .cover {height:100%; margin-top:-50% }
.pro_wrapper .pro-info:hover .cover img{height:20%; }
.model-admin-link {
border-radius:5px;
z-index:20;
position:absolute;
margin-top:15%;
background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}
#cboxTitle {color:#000}

button {background-color:#27160e;border:0; margin-top:2%;  
width:100%;
font-size:20px;
}


p.error_size {background:#FF0000; opacity: .8;
filter: alpha(opacity=80); width:50%; height:20px;}
.pro-folder-btn {color:#FBFB87; font-size:20px;margin-top:2%;
  padding:1%;
  background-color:#27160e;
  width:100%;
  }
.en .pro-folder-btn {
  font-family:'MTCORSVA';  
}

.pro-folder-btn:hover {background-color:#C23B0E; }
.product-folder-lists {width:auto; margin: 5px;}
.product-folder-lists.en {float:left}
.product-folder-lists.fa {float:right}
.gallery-category {width: 50%; height: 60px; position:relative;}

.liquid-bg {
  background-image: url(image-path('liquid.jpg'));
  background-repeat: no-repeat;  
  background-attachment: fixed;
}
.box-coming-soon {position: absolute;
width: 50%;
left: 25%;
right: 25%;
top: 0;}
