/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require colorbox-rails   
 *= require_tree .
 */




.clr-float{ clear:both}
#en {direction:ltr; text-align:left; font-family:arial}
.en {direction:ltr; text-align:left; font-family:arial}
#fa {direction:rtl; text-align:right;font-family:'open_sansregular'}
.fa {direction:rtl; text-align:right;font-family:'open_sansregular'}
.product-pics { margin:5px}
.upload-pic{width: 30%; }
span.Necessary {color:#F33535}
.footer-menu ul li a {color:#e5ec6f}
.footer-menu ul li a:hover {color:#DEFF00}
.admin-icon {width: 100px; background:#1A1A1A; float: left; height:370px; opacity:.8; display: none}
#content:hover .admin-icon{display: block}
